@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  cursor: none;
}

@layer components {
  .card-corner {
    position: absolute;
    width: 300px;
    padding: 28px;
    border-radius: 24px;
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
}

body {
  background-color: #050505;
  color: white;
  overflow-x: hidden;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}